{%- block vich_image_widget -%}
    <div class="vich-image">
        <div class="card card-body">
            <div class="row">
                <div class="col-6 my-auto">
                    {{- form_widget(form.file) -}}
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                    {%- if image_uri -%}
                        <a href="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}">
                            <img src="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}" alt="" class="img-fluid" />
                        </a>
                    {%- endif -%}
                    {%- if form.delete is defined -%}
                        {{- form_row(form.delete,{'attr': {'class' : 'form_control'}, 'label' : 'Elimina'}) -}}
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
{%- endblock -%}