<!--<footer class="mt-5" style="border-top: 3px solid rgb(67,150,193)">
    <div class="row footer-bottom mr-0 mb-1 pb-3">
        <div class="col-12 mt-3 mx-1 footer-txt">
            Copyright &copy; {{ "now"|date("Y") }} - Eatcity by Emili Andrea - P.IVA: 03580780546 - Tutti i diritti riservati | <a href="">Termini di Servizio</a> | <a href="">Privacy Policy</a> {% if is_granted('ROLE_MODERATOR') %}
                | <a href="{{ url('admin') }}">ADMIN</a>
            {% endif %}
        </div>
    </div>
</footer>-->
<footer class="tabs" style="z-index:999999999999999">
    <div class="container">
        <div class="no-gutters d-flex">
            <button id="tab-page-one" class="btn-tab" title="Tab 1">
                <i class="fa fa-2x fa-home my-2"></i>
                <div>Sfoglia</div>
            </button>
            <button id="tab-page-two" class="btn-tab" title="Tab 2">
                <i class="fa fa-2x fa-receipt my-2"></i>
                <div>Ordini</div>
            </button>
            <button id="tab-page-three" class="btn-tab" title="Tab 3">
                <i class="fa fa-2x fa-shopping-cart my-2"></i>
                <div>Carrello</div>
            </button>
            <button id="tab-page-four" class="btn-tab" title="Tab 3">
                <i class="fa fa-2x fa-question-circle my-2"></i>
                <div>Aiuto</div>
            </button>
            <button id="tab-page-five" class="btn-tab" title="Tab 4">
                <i class="fa fa-2x fa-cog my-2"></i>
                <div>Impostazioni</div>
            </button>
        </div>
    </div>
</footer>

<style>
.anniversary {
position: fixed;
bottom: 25px;
left: 10px;
top: 87%;
height: 200px;
width: 100px;
}
.anniversary img {
z-index:9999;
}
    .list-footer-item {
        min-height:25px!important;
    }
</style>
{#<div class="anniversary">
    <img src="{{ asset('img/2year.png') }}" class="img-fluid" style="width:200px" data-toggle="tooltip" data-placement="right" title="VedoCompro compie 2 Anni! Ringraziamo tutti i nostri utenti che ogni giorno fanno affari su VedoCompro!">
</div>#}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>


{#{% include 'template/mobile.bottom.menu.html.twig' %}#}
