    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    {% if date("2020-12-8 00:00:00") < date() and date("2020-12-26 23:59:59") > date() %}
        <link rel="stylesheet" href="{{ asset('css/christmas.css') }}">
    {% elseif date("2020-04-10 00:00:00") < date() and date("2020-04-21 23:59:25") > date() %}
    {% else %}
    {% endif %}

    <nav class="navbar navbar-expand-md navbar-dark blue-header navbar-round">
        <button class="bs-override-back" id="back-button-main" style="visibility: visible; background-color: transparent; border: none; color:#FFF; font-size:32px;margin:0px">
            <i class="fa fa-chevron-left"></i>
        </button>
        <a class="navbar-brand abs" href="{{ url('homepage') }}">
            {% set url = app.request.attributes.get('_route') %}
            <div class="logo-inline">
          <span class="float-right mt-1 ml-2">
              <img src="{{ asset('assets/eatcity-logo-bianco.png') }}" class="img-fluid" style="height:50px">
          </span>
            </div>
            {% block company %}{% endblock %}
        </a>
        <div>
            {% include 'shop/shop.cart.button.html.twig' %}
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse navbar-" id="collapsingNavbar">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
            {#{{ render(controller('AppBundle:Shop:shopCartWidget')) }}#}
                    <div id="cart"></div>
                    <script>

                    </script>
        </li>-->
                <li class="nav-item">
                    <a href="{{ url('homepage') }}" class="txt-light">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url("shop_cart") }}">CARRELLO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('shop_orders') }}">I TUOI ORDINI</a>
                </li>
                {% if app.user %}
                    <li class="nav-item dropdown">
                        {#{{ render(controller('AppBundle:Notifications:notifications')) }}#}
                    </li>
                    <li class="nav-item">
                        {#<a href="{{ url('profilo' , {'query': app.user.username }) }}" class="  txt-light">PROFILO</a>#}
                    </li>
                    <li class="nav-item">
                        <a href="{{ logout_path('main') }}" class=" txt-light">ESCI</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ url('app_login') }}" class="nav-link text-white-50 txt-light">ACCEDI</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url('app_register') }}" class="nav-link txt-light">REGISTRATI </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!--<nav class="navbar navbar-expand-lg fixed-top blue-header p navbar-toggleable-sm navbar-second" style="margin-top:20px">-->
            <div class="input-group mb-2 mr-sm-2 navbar-search" style="border-radius:15px">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
                <input type="text" class="form-control" id="top-searchbox" placeholder="Cerca" >
            </div>
        <!--</nav>-->
    </nav>



<script>
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
         $('.navbar-nav .nav-item a').addClass('nav-mobile');
    }
</script>
<style>
    .nav-mobile {
        font-size: 4vw!important;
    }

    .btn-cart-top {
        background: transparent;
        position: absolute!important;
        left: 0;
        top: -5px;
        font-size: 25px;
    }

    .cart-image {
        width: 50px;
        height: 50px;
    }

    .cart-badge {
        background-color: #28A746!important;
        height: 28px!important;
        width: 28px!important;
        font-weight: 300!important;
        top: -58px!important;
        left: 25px!important;
        visibility: visible!important;
    }
    .navbar-round {
        border-bottom-left-radius: 50px!important;
        border-bottom-right-radius: 50px!important;
    }
    .navbar-squared {
        border-bottom-left-radius: 0!important;
        border-bottom-right-radius: 0!important;
    }
</style>
