<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
<nav class="mobile-bottom-nav">
    <a href="{{ url('homepage') }}" class=" {% if app.request.attributes.get('_route') == 'homepage' or app.request.attributes.get('_route') == 'search' %}active{% endif %} mobile-bottom-nav__item">
        <div class="mobile-bottom-nav__item-content">
            <i class="fa fa-search"></i>
            <span class="item-text">Cerca</span>
        </div>
    </a>
    <a href="" class="{% if app.request.attributes.get('_route') == "nuovo" %}active{% endif %} mobile-bottom-nav__item">
        <div class="mobile-bottom-nav__item-content">
            <i class="fa fa-plus-square-o"></i>
            <span class="item-text">Vendi</span>
        </div>
    </a>
    <a href="{{ url('shop_cart') }}" class="{% if app.request.attributes.get('_route') == "shop" %}active{% endif %} mobile-bottom-nav__item center-button">
        <div class="mobile-bottom-nav__item-content">
            <i class="fa fa-shopping-cart"></i>
            <span class="item-text">Shop</span>
        </div>
    </a>
    <a href="" class="{% if app.request.attributes.get('_route') == "helpdesk" or app.request.attributes.get('_route') == "helpdesk_ticket" or app.request.attributes.get('_route') == "helpdesk_create"  %}active{% endif %} mobile-bottom-nav__item">
        <div class="mobile-bottom-nav__item-content">
            <i class="fa fa-question"></i>
            <span class="item-text">Supporto</span>
        </div>
    </a>
    <a href="{% if app.user %}{{ url('app_login' , {'query': app.user.username }) }}{% else %}{{ url('app_login') }}{% endif %}" class="{% if app.request.attributes.get('_route') == "login" %}active{% endif %} mobile-bottom-nav__item">
        <div class="mobile-bottom-nav__item-content">
            <i class="fa fa-user-circle-o"></i>
            <span class="item-text">Profilo</span>
        </div>
    </a>
</nav>
<style>
    /*.active {
        color: var(--main-bg-color);
    }*/
    .mobile-bottom-nav{
        position:fixed;
        bottom:0;
        left:0;
        right:0;
        background-color: #eee;
        z-index: 99999999;
        will-change:transform;
        transform: translateZ(0);
        display:flex;
        height:80px;
        box-shadow: 0 -2px 5px -2px #333;
    }
    .mobile-bottom-nav__item {
         flex-grow:1;
         text-align:center;
         font-size:12px;
         color: #333333;
         display:flex;
         flex-direction:column;
         justify-content:center;
     }
    .mobile-bottom-nav__item:hover {
        text-decoration: none!important;
    }
    .mobile-bottom-nav .fa {
        font-size: 28px
    }
    .mobile-bottom-nav__item--active{
     color: var(--main-bg-color);
     }
    .mobile-bottom-nav__item-content{
         display:flex;
         flex-direction:column;
     }
    .item-text {
        margin-top: 5px;
        font-size: 15px;
    }
    .center-button {
        border: 1px solid transparent;
        border-radius: 70px;
        height: 100px;
        width: 40px;
        margin-top: -20px;
        background: var(--main-bg-color);
        color: #FFF;
        box-shadow: 0 -4px 5px -1px #333;
    }
    .center-button.active {
        color: #FFF !important;
    }
</style>
