{% extends './dashboard/base.html.twig' %}

{% block title %}Impostazioni{% endblock %}

{% block body%}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-12">
                {{ form_start(form) }}
                {{ form_row(form.logoFile, {'help' : 'Carica un\'immagine con dimensione massima di 500x500', 'label' : 'Logo', 'attr': {'required' : false} }) }}
                {{ form_row(form.backgroundFile, {'help' : 'Carica un\'immagine con dimensione massima di 2048x2732', 'label': 'Sfondo', 'required' : false}) }}
                {{ form_row(form.bannerFile, {'help' : 'Carica un\'immagine con dimensione massima di 800x120', 'label' : 'Banner','required' : false}) }}
                {{ form_row(form.userPictureFile, {'help' : 'Carica un\'immagine con dimensione massima di 250x250', 'label' : 'Foto profilo', 'required' : false}) }}
                {{ form_row(form.submit, {'label' : 'Salva impostazioni', 'attr': {'class' : 'btn btn-success'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock body %}

