{% extends './dashboard/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <!--begin:: Widgets/Stats-->
        <div class="kt-portlet">
            <div class="kt-portlet__body  kt-portlet__body--fit">
                <div class="row row-no-padding row-col-separator-lg">
                    <div class="col-md-12 col-lg-6 col-xl-3">
                        <!--begin::Total Profit-->
                        {% include './dashboard/index/fragments/widget-1.html.twig' %}
                        <!--end::Total Profit-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">
                        <!--begin::Total Taxs-->
                        {% include './dashboard/index/fragments/widget-2.html.twig' %}
                        <!--end::New Feedbacks-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">
                        <!--begin::New Orders-->
                        {% include './dashboard/index/fragments/widget-3.html.twig' %}
                        <!--end::New Orders-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">
                        <!--begin::New Users-->
                        {% include './dashboard/index/fragments/widget-4.html.twig' %}
                        <!--end::New Users-->
                    </div>
                </div>
            </div>
        </div>

        <!--end:: Widgets/Stats-->

        <!--Begin::Row-->
        <div class="row">
            <div class="col-xl-6">
                <!--begin:: Widgets/Sale Reports-->
                {% include './dashboard/index/fragments/sales.html.twig' %}
                <!--end:: Widgets/Sale Reports-->
            </div>
            <div class="col-xl-6">
                <!--begin:: Widgets/Order Statistics-->
                {% include './dashboard/index/fragments/order-statistic.html.twig' %}
                <!--end:: Widgets/Order Statistics-->
            </div>
        </div>

        <!--End::Row-->

    </div>
{% endblock %}
