:root {
    --main-bg-color: rgb(255,90,0);
}
html {
    overflow-x: hidden;
}
body {
    overflow: hidden;
    background-color: #f5f5f5!important;
}
.wrapper {
    margin-top:100px;
}

.color-light-blue {
    background-color: var(--main-bg-color)!important;
    color: #FFF;
}
.color-light-blue-txt {
    color: var(--main-bg-color)!important;
    font-size:4em;
    font-weight: 400;
}
.btn-add-ad {
    text-transform: capitalize!important;
    border: none!important;
    color: #FFF!important;
    padding: 20px 19px 14px 19px!important;
    font-size: 17px!important;
    border-radius: 10px!important;
    font-family: Arial!important;
    cursor: pointer!important;
}
.btn-camera {
    width: 32px;
    margin-left: 10px;
    margin-top: -6px;
}
.btn-find {
    font-weight: 100;
    border: none;
    font-size: 16px;
    padding: 12px
}
.navbar-nav {
    line-height: 45px;

}
.navbar-nav .nav-item a {
    display: block!important;
    padding: .5rem 1rem!important;
    text-decoration: none;
    color: #FFF;
}
.color-000 a{
    color: #000!important;
}
@media (min-width: 900px) {
    .navbar-nav .nav-item > a:hover {
        color: #DDD!important;
        /* this is horribly old school */
        /*-webkit-transform: scale(1.1);*/
    }
}


.navbar-nav .nav-item .active {
    color: rgb(70,163,217)!important;
    font-weight: 700;
}
.head-txt-bold {
    display: block!important;
    padding: .5rem 1rem!important;
}
.nav-item a.dropdown-item {
    color: #212529!important;
}
.form-control-select {
    border-width: 2px!important;
    border-bottom:2px solid #BBB;
    top:1px;
    position:relative;
    background-color: #FFF!important;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
}
input:focus, select:focus {
    outline: none;
}
.card-container {
  position: relative;
}

.card-image {
  display: block;
  width: 100%;
  height: auto;
}

.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:  rgba(70,163,217,0.6);
}

.card-container:hover .card-overlay {
  opacity: 1;
}

.card-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  ms-transform: translate(-50%, -50%);
}
.btn-bottom {
    padding: 12px 50px!important;
    color: #FFF!important;
}
.btn-white {
    background-color: #FFF!important;
    border: none!important;
    color: rgb(70,163,217)!important;
    padding: 15px 50px!important;
    border: 2px solid #FFF!important;
    border-radius: 12px!important;
    font-size: 18px!important;
}
.btn-secondary:hover {
    color: #fff!important;
    background-color: rgb(70,163,217)!important;
    border: 2px solid #FFF;
}
.footer-bg {
    background-color: rgb(51,51,51);
    padding:50px 100px;
}
.list-nulled {
    background-color: transparent!important;
    border:none!important;
    padding:0!important;
}
.list-nulled a {
    color: rgb(80,80,80)!important;
}
.list-nulled a:hover {
    color: rgb(100,100,100)!important;
    text-decoration: none;
}
.list-title {
    color: rgb(70,163,217)!important;
}
.footer-bottom {
    background-color: rgb(40,40,40)!important;
}
.footer-txt {
    color: rgb(80,80,80)!important;
}

/*
    LOGIN
    */
.txt-white {
    color: #FFF;
}
.inverse-logo {
    filter: brightness(6);
    top:10px!important;
}
.login-control {
    padding: 15px;
    border-radius: 15px;
    font-size: large;
}
.btn-login {
    border: 2px solid #FFF!important;
    color: #FFF!important;
    padding: 12px !important;
    border-radius: 12px!important;
    font-size: 18px!important;
}
.btn-login:hover {
    background-color: rgb(70,163,217)!important;
    color:#FFF!important;
}
#lostPwdLink {
    /*right: -65px;*/
    position: relative;
    font-size: 12px;
}
.form-check-label {
    font-size: 12px;
}


.circle {
    width: 100px;
    height: 100px;
    background-color: #FFF;
    background: url(../img/auth/login-arrow.png);
    background-size: cover;
    border: 1px solid #FFF;
    border-radius: 80px;
    box-shadow: 8px 8px 50px #444444;
    position: relative;
    top:1em;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.circle-top-margin {
    margin-top: 100px!important;
}
.transform-0 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.transform-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.acc-create-link {
    font-weight: 300;
    color: #555;
    text-align: center;
    text-decoration: none;

}
.acc-create-link:hover {
    color: #000;
    text-decoration: none;
}
.txt-small {
    font-size: 14px;
}

input[type="checkbox"] {
    /*display:none;*/
}

input[type="checkbox"] + label {
    color:#f2f2f2;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../img/auth/check.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../img/auth/check.png) -19px top no-repeat;
}

.form-check-label {
    padding-left: 0px;
}


/**
    PROFILE
    */
.blue-header {
    background-color: var(--main-bg-color);
}
#profile-header {
    background-color: rgb(226,239,238);
}
.profile_coin_left {
    width: 15px!important;
    border: none!important;
    margin-left: 5px;
    margin-right: 10px;
}
.user-info p {
    font-size: 22px;
    line-height: 16px;
}
#profileTab .nav-link {
    padding: 0.6em 1.2em!important;
    background-color: rgb(249,247,244)!important;
    color: rgb(67,150,193)!important;
    font-size: 22px!important;
    border-radius: 0px!important;
    border: none!important;
}
#profileTab .active {
    background-color: var(--main-bg-color)!important;
    color: rgb(249,247,244)!important;
}
.btn-outline-primary {
    padding: 0.6em 1.2em!important;
    background-color: rgb(249,247,244)!important;
    color: var(--main-bg-color)!important;
    font-size: 22px!important;
    border-radius: 0px!important;
    border: none!important;
}
.btn-outline-primary:hover {
    padding: 0.6em 1.2em!important;
    background-color: var(--main-bg-color)!important;
    color: rgb(249,247,244)!important;
    font-size: 22px!important;
    border-radius: 0px!important;
    border: none!important;
}
.btn-outline-danger {
    padding: 0.6em 1.2em!important;
    background-color: rgb(249,247,244)!important;
    color: rgb(67,150,193)!important;
    font-size: 22px!important;
    border-radius: 0px!important;
    border: none!important;
}
.btn-outline-danger:hover {
    padding: 0.6em 1.2em!important;
    background-color: #d9534f!important;
    color: #FFFFFF!important;
    font-size: 22px!important;
    border-radius: 0px!important;
    border: none!important;
}
.profile_coin {
    width: 20px!important;
    border: none!important;
    margin-left: 10px;
    margin-bottom: 5px;
}
.profile_coin_left {
    width: 15px!important;
    border: none!important;
    margin-left: 5px;
    margin-right: 10px;
}
.profile-btn-icon {
    width: 20px!important;
    margin:0 !important;
    border:none!important;
}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {



}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {



}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {



}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  #vedocompro_logo {
      max-width: 200px!important;
      top: 10px;
  }

  .navbar-toggler{
    top: 10px!important;
  }

 .display-3 {
     font-size: 2.0rem!important;
 }

 .color-light-blue-txt {
     font-size: 2rem!important;
 }

 .navbar {
     border-bottom: 2px solid #EBEBEB;
 }

}
/** UPGRADE **/
.price-card {
    transition: all .4s ease-in-out;
    transform: scale(1);
}
.price-card:hover {
    transition: all .4s ease-in-out;
    transform: scale(1.20);
}
.price-card .card-block .card-img-top {
    width: 30%!important;
}
.float-right {
    float: right!important;
}
.float-left {
    float:left!important;
}