<button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
<div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">
    {% set active = false %}
    <!-- begin:: Aside Menu -->
    <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
        <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">
            <ul class="kt-menu__nav ">
                {% for item in menu %}
                    {% if item.sub is defined %}
                    <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                        <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                            <i class="kt-menu__link-icon {{ item.icon }}"></i>
                            <span class="kt-menu__link-text">{{ item.name }}</span>
                            <i class="kt-menu__ver-arrow flaticon2-next"></i>
                        </a>
                        <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                            <ul class="kt-menu__subnav">
                                {% for sub in item.sub %}
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="{{ url(sub.url) }}" class="kt-menu__link ">
                                            <i class="kt-menu__link-bullet kt-menu__link-bullet--line">
                                                <span></span>
                                            </i>
                                            <span class="kt-menu__link-text">
                                            {{ sub.name }}
                                        </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% else %}
                    <li class="kt-menu__item  {% if active %}kt-menu__item--active{% endif %}" aria-haspopup="true">
                        <a href="{{ url(item.url) }}" class="kt-menu__link ">
                            <i class="kt-menu__link-icon {{ item.icon }}"></i>
                            <span class="kt-menu__link-text">
                                {{ item.name }}
                            </span>
                        </a>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- end:: Aside Menu -->
</div>