<div class="kt-header__brand kt-grid__item p-0" id="kt_header_brand">
    <div class="kt-header__brand-logo">
        <a href="{{ url('dashboard') }}">
            <img alt="Logo" src="{{ asset('media/logo.png') }}" class="img-fluid" style="width: 80%;margin: 8px;"/>
        </a>
    </div>
</div>