<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
    <div class="kt-header-mobile__logo img-fluid">
        <a href="index.html">
            <img alt="Logo" src="{{ asset('media/logo.png') }}" class="img-fluid" style="height:45px"/> <h6 class="float-right mt-3 pt-1 ml-2">Dashboard</h6>&nbsp;&nbsp;<h5 class="float-right mt-3">Project ByByAl</h5>
        </a>
    </div>
    <div class="kt-header-mobile__toolbar">
        <div class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left" id="kt_aside_mobile_toggler"><span></span></div>
        <div class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></div>
        <div class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></div>
    </div>
</div>