
<div class="container">
    <div class="row mt-2">
        <div class="col-sm-12">
            <h2>Carrello</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <h5>Hai {{ items|length }} articoli nel carrello</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="row mt-3">
                <div class="col-sm-12 ">
                    <table class="table table-responsive table-hover card card-body mb-3" style="display:inline-table!important">
                        <thead style="width:100%">
                        <tr>
                            <!--<th>Codice Articolo</th>-->
                            <th>Nome</th>
                            <th class="md-hide">Prezzo</th>
                            <th>Qt.à</th>
                            <th class="md-hide">IVA</th>
                            <th style="width:100px">Totale</th>
                            <th style="width:30px"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set priceVat = 0.00 %}
                        {% for item in items %}
                            <tr>
                                <!--<td style="">000</td>-->
                                <td>{{ item.item.name }}</td>
                                <td class="md-hide">
                                    <input type="text" disabled id="price-{{ item.item.id }}" value="{{ item.item.price|number_format(2)  }}" style="background-color:transparent;border:none!important;width:80px"/>
                                </td>
                                <td>
                                    <input type="number" id="qty-{{ item.item.id }}" step="1" class="form-control text-center form-control-sm" onChange="calPrice({{ item.item.id }})" min="1" value="{{ item.qty }}" style="width: 50px;margin-top: -5px;margin-bottom: -5px;">
                                </td>
                                <td class="md-hide">
                                    <input type="text" disabled id="vat-{{ item.item.id }}" value="{{ item.item.vat }}" style="background-color:transparent;border:none!important;width:30px"/>%
                                    <input class="vat" id="calcVat-{{ item.item.id }}" type="hidden" value="{{ ((item.qty * item.item.price) / 100) * item.item.vat }}">
                                </td>
                                {% set priceVat = priceVat + (((item.qty * item.item.price) / 100) * item.item.vat) %}
                                <td>
                                    <input type="text" disabled class="price" id="total-{{ item.item.id }}" value="{{ (item.qty * item.item.price)|number_format(2) }}" style="background-color:transparent;border:none!important;width:80px"/>
                                </td>
                                <td>
                                    <a href onClick="deleteFromCart({{ item.id }})" class="fas fa-trash text-danger"></a>
                                </td>
                            </tr>
                            <script>
                                $(document).ready( function() {
                                    calPrice({{ item.item.id }})
                                })
                            </script>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-body tbl-bottom-border">
                        <h4 class="card-title pb-2">
                            Riepilogo Ordine
                        </h4>
                        <table class="table table-responsive mb-0 pb-0" style="display:inline-table!important">
                            <tr class="md-hide">
                                <th>SubTotale</th>
                                <td>
                                    {% set subtotal = 0 %}
                                    {% for item in items %}
                                        {% set subtotal = subtotal + (item.qty * item.item.price) %}
                                    {% endfor %}
                                    <input type="text" id="subtotal" value="{{ subtotal|number_format(2) }}" disabled style="background-color:transparent;border:none!important;width:80px"> €
                                </td>
                            </tr>
                            <tr>
                                <th>Spedizione</th>
                                <td>
                                    <input type="text" id="shipment" value="0.00" disabled style="background-color:transparent;border:none!important;width:80px"> €
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <th><strong><h5>TOTALE</h5></strong></th>
                                <td>
                                    <input type="text" id="total" value="{{ (subtotal + priceVat)|number_format(2) }}" disabled style="background-color:transparent;border:none!important;width:80px"/> €
                                </td>
                            </tr>
                        </table>
                    </div>
                    <input type="hidden" id="vat" value="{{ priceVat|number_format(2) }}" disabled style="background-color:transparent;border:none!important;width:80px">
                    <a href="{{ url('shop_checkout') }}" class="btn btn-primary btn-block btn-lg color-light-blue btn-top-border">
                        Checkout
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                </div>
            </div>
        </div>
    </div>

    <script>
        function calPrice(id) {
            var qty = $('#qty-' + id).val();
            var price = $('#price-' + id).val();
            var vat = $('#vat-' + id).val();
            $.ajax({
                method: "POST",
                url: "/ajax/update-price/" + id +"/" + qty
            }).done(function( msg ) {
                var total = (parseFloat(price) * qty).toFixed(2);
                var vatPrice = (total * vat / 100 ).toFixed(2);
                var subtotal = Number(parseFloat(total) + parseFloat(vatPrice));
                $('#total-' + id).val(parseFloat(subtotal).toFixed(2));
                var sum = 0;
                $('.price').each(function() {
                    sum += Number(parseFloat($(this).val()));
                });
                $('#calcVat-' + id).val(vatPrice);
                $('#subtotal').val((sum).toFixed(2));
                var cvat = 0;
                $('.vat').each(function(i,n) {
                    cvat += parseFloat($(n).val(),10);
                })
                $('#vat').val(Number(cvat).toFixed(2));
                $('#total').val(parseFloat($('#subtotal').val()));
            });
        }
        {% if app.user %}
        function deleteFromCart(id) {
            if (confirm('Eliminare il prodotto dal carrello? ')) {
                $.ajax({
                    method: "POST",
                    url: "/functions/deleteFromCart/{{ app.user.id }}/" + id
                }).done(function () {
                    window.location.reload();
                })
            }
        }
        {% endif %}
    </script>

        <style>
            .md-hide {
                display: none;
            }
            .btn-top-border {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
            .tbl-bottom-border {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom: 0px;
            }
        </style>
</div>
