{% extends 'mid-base.html.twig' %}
{% block body %}
    {% include 'template/header.html.twig' %}
    <script src="{{ asset('js/intlTelInput-jquery.min.js') }}"></script>
    <script src="{{ asset('js/intl-utils.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/intlTelInput.min.css') }}">
    <div class="container-fluid scrollbar">
        <div class="container">
            <div class="row mt-5 pt-5">
                <div class="col-12">
                    <h2>Shop > Checkout</h2>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-6 mt-3">
                    <div class="card card-body">
                        <h4>Indirizzo Spedizione</h4>
                        <small>Conferma o correggi l'indirizzo di spedizione</small>
                        <br/>
                        {% form_theme order 'bootstrap_4_layout.html.twig' %}
                        {{ form_start(order) }}

                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ form_row(order.realname, {'label': 'Nome Completo'}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ form_row(order.address, {'label': 'Indirizzo'}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ form_row(order.city, {'label': 'Città'}) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(order.cap, {'label': 'CAP'}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ form_row(order.phone, {'label': 'Telefono'}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ form_row(order.whatsapp) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ form_row(order.buyer_message) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card card-body mt-3">
                        <h4>Spedizione</h4>
                        <small>Controlla il metodo di spedizione</small>
                        <br/>
                        {{ form_row(order.shipment) }}
                    </div>
                    <div class="card card-body mt-3">
                        <h4>Pagamento</h4>
                        <small>Controlla il metodo di pagamento</small>
                        <br/>
                        {{ form_row(order.method) }}
                    </div>
                    <div class="card card-body mt-3">
                        {{ form_row(order.termsAccepted) }}
                    </div>

                </div>
            </div>
            <div class="row mt-3">
                <div class="col-8"></div>
                <div class="col-4">
                    {{ form_row(order.order, {'label' : 'Ordina', 'attr': {'class' : 'btn btn-primary btn-block btn-lg color-light-blue'}}) }}
                </div>
            </div>
            {{ form_end(order) }}
        </div>
    </div>
    <style>
        input[type="checkbox"] + label {
            color: #000!important
        }
    </style>
{% endblock %}