 <div class="container ml-3 mr-3">
        <div class="row mt-2 col-12">
            <h2>Sei un negoziante? Utilizza ora {{ app_name }}</h2>
        </div>
        <div class="row mt-5 col-12">
            <p>Se anche tu sei stato colpito economicamente dall'emergenza COVID-19, potresti non riuscire a raggiungere i tuoi clienti, {{ app_name }}, per fronteggiare la crisi ed aiutare i negozianti di zona, ha aperto i suoi battenti.</p>
            <p>{{ app_name }} ti aiuta inserendo i tuoi prodotti, gestendo gli ordini e la comunicazione base con il cliente finale, permettendoti di continuare a lavorare nonstante l'ordine di chiusura degli esercizi commerciali.</p>
            <br/>
            <h5>Come funziona?</h5>
            <p>L'utilizzo è semplice, avrai a disposizione un'account business <strong>gratuito</strong> per 3 mesi, dove potrai controllare lo stato degli ordini, inserire, modificare i tuoi prodotti e analizzare i tuoi guadagni.</p>
            <h5>Quanto costa?</h5>
            <p>Il servizio è <strong>gratuito</strong> per i primi 3 mesi, dopo questo periodo, potrai continuare ad utilizzare {{ app_name }} pagando una commissione di soltanto il 5% su ogni ordine, continuerai a godere di tutti i servizi base, ad esclusione dei servizi Business.</p>
            <h5>Chi inserisce i prodotti?</h5>
            <p>I prodotti potranno essere inseriti dal venditore, o dal Team di {{ app_name }}. In tal caso, si richiede la fornitura dei dati secondo uno schema ben preciso che coincide con i campi che normalmente sono richiesti in fase di inserimento. Un nostro incaricato poi, potrebbe richiedervi di fotografare i prodotti, in tal caso, verrà a prelevare i prodotti, effettuerà le fotografie e restituirà i prodotti al venditore.</p>
            <h5>E la spedizione?</h5>
            <p>I servizi di spedizione sono a carico del venditore, {{ app_name }} offre una vetrina per i tuoi prodotti, sarai te a gestire la spedizione. Dovendo ovviare il problema degli spostamenti è consigliabile l'utilizzo di un corriere, ma nulla vieta di consegnare il prodotto a mano o prezzo il negozio, opportunatamente attrezzato per la gestione del cliente in sicurezza.</p>
            <h5>Metodi di pagamento?</h5>
            <p>I metodi di pagamento sono gestiti anch'essi dal venditore, si raccomanda di emettere ricevuta fiscale ed inserirla dentro al pacco spedito. Si possono accettare pagamenti in contanti, con carte di credito (se il venditore è fornito di dispositivo portatile) o, con PayPal *</p>
            <div class="mt-5">
                <small>* Il venditore dovrà fornire al team tecnico di {{ app_name }} l'accesso al conto PayPal o le chiavi API, per poter configurare il modulo di accettazione del pagamento, o altrimenti, fornire direttamente il codice del pulsante PayPal.</small>
            </div>
        </div>
    </div>