
    <!--<script src="{{ asset('js/freezeframe.js') }}"></script>-->

    <div class="container scrollbar">
        <div class="row mt-1">
            <div class="col-12">
                <h2>Trend settimanali<span class="float-right"><small style="font-size:16px"><a href="">Vedi tutti</a></small></span> </h2>

                <div style="overflow-x:scroll;overflow-y: hidden; height: 140px">
                    <div class="row flex-row flex-nowrap">
                        <div class="col-5 px-2">
                            <div class="card" style="height:130px; float:left">
                                <img src="https://www.italiaatavola.net/images/contenutiarticoli/Sushi-salute-quali-rischi-Anche-riso-puo-far-danni-1.jpg" class="card-img-top img-fluid" alt="...">
                                <div class="hover">
                                    <h3>Sushi</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 px-2">
                            <div class="card" style="height:130px; float: left">
                                <img src="https://static.cookist.it/wp-content/uploads/sites/21/2018/03/pizza-3000274-960-720.jpg" class="card-img-top img-fluid" alt="...">
                                <div class="hover">
                                    <h3>Pizza</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 px-2">
                            <div class="card" style="height:130px; float: left">
                                <img src="https://cdn.ilclubdellericette.it/wp-content/uploads/2018/02/ricetta-hamburger.jpg" class="card-img-top img-fluid" alt="...">
                                <div class="hover">
                                    <h3>Hamburgers</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 px-2">
                            <div class="card" style="height:130px; float: left">
                                <img src="https://cinainitalia.com/wp-content/uploads/2019/01/ravioli_baozi.jpg" class="card-img-top img-fluid" alt="...">
                                <div class="hover">
                                    <h3>Cinese</h3>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>
        <div class="row mt-1">
            <!--<div class="col-md-2">
                <div id="accordion">
                    <div class="card mt-4">
                        <div class="card-header" id="headingOne">
                            <h5 class="m-0">
                                <a id="categoryCollapse" class="btn btn-link no-decoration" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h6 class="txt-categories mb-0">CATEGORIE</h6>
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                {% for cat in categories %}
                                    {% if cat.father == null %}
                                        <h6 class="mt-1"><a href="{{ url('shop_byCategory', {'cat': cat, 'catID': cat.id}) }}">{{ cat }}</a></h6>
                                    {% else %}
                                        <a href="{{ url('shop_byCategory', {'cat': cat, 'catID': cat.id}) }}" class="page-link border-0">{{ cat }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="col-md-10">
                <div id="alert-added" class="alert alert-info alert-dismissible fade show" role="alert" style="display: none">
                    <h4 class="alert-heading">Aggiunto al Carrello!</h4>
                    Continua gli acquisti oppure <a href="{{ url('shop_cart') }}">vai al carrello</a>.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3 mb-3">
                        <h1 style="font-size:1.2em">Tutti i risultati vicini a <span id="location">?</span></h1>
                    </div>
                </div>
                <!-- RESULTS -->
                    <div id="results"></div>
                <!-- END RESULTS -->
                    <a href="mailto:submissions@eatcity.it" class="card-link">
                        <div class="card card-body mt-4 mb-5 pb-5" style="padding:0!important;border-radius:20px">
                            <div class="media">
                                <img src="https://via.placeholder.com/500x500&text=Entra%20a%20far%20parte%20di%20VedoCompro%20City" class="image-fluid mr-3" style="width:140px;border-top-left-radius: 20px;border-bottom-left-radius: 20px;" alt="...">
                                <div class="media-body" style="margin-top:0.7rem">
                                    <div class="row mt-1" >
                                        <div class="col-9">
                                            <h5 class="mt-0 mb-0">Entra in Eatcity</h5>
                                            <div class="ranking">
                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <i class="my-0">
                                                <i class="fa fa-map-marker-alt"></i> 0 Km <!--| <a href="">Categoria</a>-->
                                            </i>
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-12">
                                            Vuoi ricevere ordini? Contattaci <br>
                                            <small>Montefalco, PG</small>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                        <br>
                    </a>
                <div class="text-center mb-5 pb-5">
                    <small style="color:grey">&copy; 2020 {{ app_name }}</small>
                </div>
            </div>
        </div>
    </div>
    <style>
        .card-item {
            background-color: #E8E8E8;
            border-radius: 0px;
        }
        .dropdown-menu {
            min-width: 350px;
        }
        .lastone-badge {
            top: -25px;
            position: relative;
            width: 50%;
            color: #FFF;
            margin-bottom: -25px;
        }
        .btn {
            border-radius: 0!important;
            border: 1px;
        }
        .ribbon {
            width: 150px;
            height: 150px;
            overflow: hidden;
            position: absolute;
            z-index:999;
        }
        .ribbon::before,
        .ribbon::after {
            position: absolute;
            z-index: -1;
            content: '';
            display: block;
            border: 5px solid var(--main-bg-color);
        }
        .ribbon span {
            position: absolute;
            display: block;
            width: 225px;
            padding: 15px 0;
            background-color: var(--main-bg-color);
            box-shadow: 0 5px 10px rgba(0,0,0,.1);
            color: #fff;
            font: 700 14px/1 'Lato', sans-serif;
            text-shadow: 0 1px 1px rgba(0,0,0,.2);
            text-transform: uppercase;
            text-align: center;
        }

        /* top right*/
        .ribbon-top-right {
            top: -10px;
            right: -10px;
        }
        .ribbon-top-right::before,
        .ribbon-top-right::after {
            border-top-color: transparent;
            border-right-color: transparent;
        }
        .ribbon-top-right::before {
            top: 0;
            left: 0;
        }
        .ribbon-top-right::after {
            bottom: 0;
            right: 0;
        }
        .ribbon-top-right span {
            left: -25px;
            top: 30px;
            transform: rotate(45deg);
        }
        .btn {
            border: 2px solid transparent;
        }
        .txt-categories {
            font-weight: 300;
            font-stretch: expanded;
        }
    </style>
    <script>
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            $('#collapseOne').removeClass('show');
        }
        /*const gifs = new Freezeframe('.freezeframe', {
            trigger: false
        });

        //gifs.start(); // start animation
        gifs.stop(); // stop animation
        //gifs.toggle(); // toggle animation*/
        function addToCart(id) {
            {% if app.user %}
            $.ajax({
                method: "POST",
                url: "/shop/ajax/aggiungi-al-carrello/" + id,
            }).done(function( msg ) {
                $('#addToCart-' + id).find('span').text(' Aggiunto al carrello!');
                $('#addToCart-' + id + ' i').removeClass('fa-cart-plus').addClass('fa-check');
                $("#alert-added").fadeTo(5000, 1000).slideUp(500, function(){
                    $("#alert-added").slideUp(500);
                });
                updateCart();
            });
            {% else %}
            window.location.replace("https://www.vedocompro.it/login");
            {% endif %}
        }
    </script>
<script>
    $(document).ready(function() {
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Abbiamo bisogno di conoscere la tua posizione per poterti mostrare i risultati, ricarica la pagina o controlla le impostazioni del tuo smartphone.")
                console.error = "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position) {

            $.ajax({
                dataType: "json",
                url: 'https://api.bigdatacloud.net/data/reverse-geocode-client',
                data: {
                    'latitude': position.coords.latitude,
                    'longitude': position.coords.longitude,
                    'localityLanguage' : 'it'
                },
                success: function(response) {
                    //console.success("Client position: " + position.coords.latitude + "," + position.coords.longitude);
                    $('#location').text(response.locality + ', ' + response.principalSubdivision + ', ' + response.countryCode);
                }
            });

            localStorage['position_latitude'] = position.coords.latitude;
            localStorage['position_longitude'] = position.coords.longitude;

            $.ajax({
                dataType: "html",
                url: '{{ url('homepage') }}api/v3/getSellersList/' + position.coords.latitude + '/' + position.coords.longitude,
                beforeSend: function() {
                    $('#results').html('<div class="row mt-5 pt-5 mb-5 pb-5"><div class="col-12"><i class="fa fa-spinner fa-spin fa-3x mx-auto mt-5 pt-5 mb-5 pb-5" style="position:relative;left: 50%;margin-left: -3em;"></i></div></div>');
                },
                success: function(response, status) {
                    $('#results').html(response);
                }
            });
        }
        getLocation();


    })
</script>