
<div class="container">
    <div class="row mt-2">
        <div class="col-12">
            <h2>I tuoi ordini</h2>
        </div>
    </div>
    <div class="accordion mt-5" id="accordion">
        {% if orders %}
            {% for order in orders %}
                <div class="card">
                <div class="card-header" id="heading{{ order.id }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ order.id }}" aria-expanded="true" aria-controls="collapse{{ order.id }}">
                            Ordine {{ order.id }} del {{ order.date|date("d-m-Y") }}
                        </button>
                    </h2>
                </div>

                <div id="collapse{{ order.id }}" class="collapse {% if loop.first %}show{% endif %}" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <strong>Totale Ordine:</strong> {{ order.total }} € <br/><br/>
                        <strong>Stato:</strong>  {% if order.status == 0 %}
                                    Emesso
                                {% elseif order.status == 1 %}
                                    Spedito
                                {% elseif order.status == 2 %}
                                    Consegnato
                                {% elseif order.status == 3 %}
                                    Annullato
                                {% endif %} <br/><br/>
                        <strong>Dettagli Ordine:</strong><br/><br/>
                        <ul>
                            {% for row in order.items %}
                                <li>
                                    0 - {{ row.name }} - {{ row.price }} €
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="text-center">Non c'è alcun ordine</div>
        {% endif %}
    </div>
</div>
