<div class="dropdown-menu dropdown-menu-right p-3 animate slideIn">
    <h6 class="dropdown-header">Carrello</h6>
    {% set total = 0 %}
    {% for item in cart %}
        <a class="dropdown-item" href="#">
            <div class="media">
                <img class="mr-3 cart-image" src="{{ asset('uploads/images/products/' ~ item.item.image ) }}" alt="{{ item.item.name }}">
                <div class="media-body">
                    <h6 class="mt-1">{{ item.item.name}}<small class="float-right"> x{{ item.qty }}</small></h6>
                    <p>{{ item.item.price }} €</p>
                </div>
            </div>
        </a>
        {% set total = total + (item.item.price * item.qty) %}
    {% endfor %}
    <hr>
    <div class="dropdown-footer">
        <div class="row">
            <div class="col-12">
                <h6 class="float-right">Totale: <code class="mò-2">{{ total }} €</code></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="{{ url('shop_cart') }}" class="btn btn-outline-success btn-block">
                    <i class="fa fa-shopping-cart"></i> Vai al carrello
                </a>
            </div>
        </div>
    </div>
</div>