
    <link rel="stylesheet" href="{{ asset('css/swiper.min.css')}}">
    <script src="{{ asset('js/swiper.min.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                var swiper = new Swiper('.swiper-container', {
                    slidesPerView: 4,
                    spaceBetween: 0,
                    /*pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },*/
                    // Navigation arrows
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                });
            }else {
                var swiper = new Swiper('.swiper-container', {
                    slidesPerView: 9,
                    spaceBetween: 10,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                    // Navigation arrows
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                });
            }
        });
    </script>
    {% if (shop.openingTime != null ) %}
        {% if (shop.openingTime < date() and shop.closingTime > date()) %}
            <div id="prenotazioni-chiuse-modale" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Hey, questo negozio accetta ordini a partire dalle ore {{ shop.openingTime }}, fino alle ore {{  shop.closingTime}}.</p>
                            <p>I tuoi ordini verranno messi in coda e processati appena possibile.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Continua</button>
                            <button type="button" class="btn btn-secondary" onClick="history.back();">Scegli un'altro negozio.</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function() {
                    $('#prenotazioni-chiuse-modale').modal("show");
                })
            </script>
        {% endif %}
    {% endif %}
    <div class="container-fluid scrollbar main-container pt-5">
        <div class="container pt-5">
            {% if shop.shopUserSettings.logo is defined and shop.shopUserSettings.logo != null %}
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <a href="">
                            <img src="{{ asset('uploads/images/seller/logo/' ~ shop.shopUserSettings.logo) }}" class="img-fluid">
                        </a>
                    </div>
                </div>
            {% else%}
                <div class="row">
                    <div class="col-12">
                        <h4 class="txt-white">{{ shop.shopName }}</h4>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for i in categories %}
                            <div class="swiper-slide">
                                <div class="card card-body bg-transparent">
                                    <img width="80" height="80" src="{{ asset('media/categories/' ~ i.image ) }}" class="card-img-top img-fluid">
                                    <h6>{{ i.name }}</h6>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                        <!-- Buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if items %}
                    {% dump(items) %}
                {% for itm in items %}
                    <div class="col-md-3 mt-4">
                        <div class="card card-item">
                            <div class="ribbon ribbon-top-right">
                                <span>{% if itm.category != null %}{{ itm.category.0.name }}{% endif %}</span>
                            </div>
                            <div class="card-body p-0">
                                <a href="{{ url('shop_item_details', {'cat': itm.category.0.name|lower, 'id': itm.id, 'product': func.slugify(itm.name) }) }}">
                                    <div class="freezeframe">
                                        <img class="card-img-top img-fluid" src="{{ asset('uploads/images/products/' ~ itm.image ) }}">
                                    </div>
                                </a>
                                {% if itm.inStock < 5 %}
                                    <div class="ribbon ribbon-top-left"><span>Ultimo rimasto</span></div>
                                {% endif %}
                                <div class="text-center mt-3"><h4>{{ itm.name }}</h4></div>
                                <div  class="text-warning text-bold py-3 mx-auto"><h4 class="text-center">{{ itm.price + (itm.price * itm.vat / 100)|number_format(2) }} €</h4></div>
                                <a id="addToCart-{{ itm.id }}" onClick="addToCart({{ itm.id }})" style="background-color:var(--main-bg-color)!important;color:#FFF" class="btn btn-block"><i class="fa fa-cart-plus"></i> <span>Aggiungi al Carrello</span></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <style>
        .card-item {
            background-color: rgba(255,255,255,0.4);
            border-radius: 0px;
            color: #FFF!important
        }
        .dropdown-menu {
            min-width: 350px;
        }
        .lastone-badge {
            top: -25px;
            position: relative;
            width: 50%;
            color: #FFF;
            margin-bottom: -25px;
        }
        .btn {
            border-radius: 0!important;
            border: 1px;
        }
        .ribbon {
            width: 150px;
            height: 150px;
            overflow: hidden;
            position: absolute;
            z-index:999;
        }
        .ribbon::before,
        .ribbon::after {
            position: absolute;
            z-index: -1;
            content: '';
            display: block;
            border: 5px solid var(--main-bg-color);
        }
        .ribbon span {
            position: absolute;
            display: block;
            width: 225px;
            padding: 15px 0;
            background-color: var(--main-bg-color);
            box-shadow: 0 5px 10px rgba(0,0,0,.1);
            color: #fff;
            font: 700 14px/1 'Lato', sans-serif;
            text-shadow: 0 1px 1px rgba(0,0,0,.2);
            text-transform: uppercase;
            text-align: center;
        }

        /* top right*/
        .ribbon-top-right {
            top: -10px;
            right: -10px;
        }
        .ribbon-top-right::before,
        .ribbon-top-right::after {
            border-top-color: transparent;
            border-right-color: transparent;
        }
        .ribbon-top-right::before {
            top: 0;
            left: 0;
        }
        .ribbon-top-right::after {
            bottom: 0;
            right: 0;
        }
        .ribbon-top-right span {
            left: -25px;
            top: 30px;
            transform: rotate(45deg);
        }
        .btn {
            border: 2px solid transparent;
        }
        .txt-categories {
            font-weight: 300;
            font-stretch: expanded;
        }
        {% if shop.shopUserSettings.background is defined %}
            body {
                background-color: transparent!important;
            }
            html {
                background: url({{ asset('uploads/images/seller/background/' ~ shop.shopUserSettings.background) }});
                background-size:cover;
            }
        {% endif %}
        .swiper-container {
            width: 100%;
            height: 100%;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            color: #FFF;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    </style>
    <script>
        function addToCart(id) {
            {% if app.user %}
            $.ajax({
                method: "POST",
                url: "https://city.vedocompro.com/ajax/aggiungi-al-carrello/" + id,
            }).done(function( msg ) {
                $('#addToCart-' + id).find('span').text(' Aggiunto al carrello!');
                $('#addToCart-' + id + ' i').removeClass('fa-cart-plus').addClass('fa-check');
                $("#alert-added").fadeTo(5000, 1000).slideUp(500, function(){
                    $("#alert-added").slideUp(500);
                });
                updateCart();
            });
            {% else %}
            window.location.replace("{{ url("app_login") }}");
            {% endif %}
        }
    </script>
