{% extends './dashboard/mid-base.html.twig' %}

{% block title %}Modifica Prodotto{% endblock %}

{% block body%}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet__body">

        <div class="kt-portlet__body kt-portlet__body--fit">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-10">
                    {{ form_row(form.name, {'attr': {'class' : 'form-control-lg', 'placeholder' : 'Nome Prodotto'}, 'label' : false}) }}
                </div>
                <div class="col-2">
                    {{ form_row(form.submit, {'attr': {'class': 'btn btn-lg btn-success btn-block'}, 'label' : 'Salva'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="card">
                        <div class="card-body">
                            {{ form_row(form.description, {'label': 'Descrizione','attr': {'rows' : 21 }}) }}
                            <div class="row">
                                <div class="col-6">
                                    {{ form_row(form.category, {'label' : 'Categoria'}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_row(form.shipmentServices, {'label' : 'Tipo Spedizione (usa SHIFT per selezione multipla)'}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <label for="shop_products_isActive">Stato</label>
                            {{ form_row(form.isActive, {'label': false, 'attr': {'checked': true, 'data-switch': 'true', 'data-on-text': 'Pubblicato', 'data-handle-width': 50, 'data-off-text':'Nascosto', 'data-on-color': 'success', 'data-off-color':'warning'}}) }}
                            {{ form_row(form.price, {'label': 'Prezzo'}) }}
                            {{ form_row(form.vat, {'label': 'IVA'}) }}
                            {{ form_row(form.inStock, {'label' : 'In Magazzino'}) }}
                            {{ form_row(form.imageFile, {'label' : 'Foto prodotto'}) }}
                            <img id="image_preview" src="{{ asset('media/pic-placeholder.png') }}" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<script>
    function filePreview(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#shop_products_image + img').remove();
                $('#image_preview').fadeTo(1500).attr("src", e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#shop_products_imageFile_file").change(function () {
        filePreview(this);
    });
    // Class definition

    var KTBootstrapSwitch = function() {

// Private functions
        var demos = function() {
            // minimum setup
            $('[data-switch=true]').bootstrapSwitch();
        };

        return {
            // public functions
            init: function() {
                demos();
            },
        };
    }();

    jQuery(document).ready(function() {
        KTBootstrapSwitch.init();
    });
</script>
{% endblock body %}