<!DOCTYPE html>
<!-- Developed by AndreaEM (www.andreaem.it) -  All Rights Reserved - Conding, Graphics Idea Convertion and Functionality made by Andrea Emili (info@andreaem.it)-->
<html lang="it" prefix="og: http://ogp.me/ns#">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});
            const f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l !== 'dataLayer' ? '&l=' + l : '';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W9KGLTS');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.7, maximum-scale=0.7" />
    <title>{% block title %}VedoCompro City - La città nel palmo della tua mano!{% endblock %}</title>
    <meta name="description" content="Ordina qualsiasi prodotto ovunque tu sia, consegnato in giornata, dal tuo negozio di fiducia! La città, nel pamo della tua mano.">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <script src="{{ asset('js/backstack.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/backstack.css') }}">
   <!-- <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="194x194" href="{{ asset('favicon-194x194.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">-->
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <!--<link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#4396c1">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">-->
    <meta name="apple-mobile-web-app-title" content="EatCity">
    <meta name="application-name" content="EatCity">
    <meta name="msapplication-TileColor" content="#4396c1">
    <meta name="msapplication-TileImage" content="{{ asset('mstile-144x144.png') }}">
    <meta name="msapplication-config" content="{{ asset('browserconfig.xml') }}">
    <meta name="theme-color" content="#4396c1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- iPhone Xs Max (1242px x 2688px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" href="{{ asset('apple-launch-1242x2688.png') }}">
    <!-- iPhone Xr (828px x 1792px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" href="{{ asset('apple-launch-828x1792.png') }}">
    <!-- iPhone X, Xs (1125px x 2436px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="{{ asset('apple-launch-1125x2436.png') }}">
    <!-- iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus (1242px x 2208px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)" href="{{ asset('apple-launch-1242x2208.png') }}">
    <!-- iPhone 8, 7, 6s, 6 (750px x 1334px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="{{ asset('apple-launch-750x1334.png') }}">
    <!-- iPad Pro 12.9" (2048px x 2732px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" href="{{ asset('apple-launch-2048x2732.png') }}">
    <!-- iPad Pro 11” (1668px x 2388px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" href="{{ asset('apple-launch-1668x2388.png') }}">
    <!-- iPad Pro 10.5" (1668px x 2224px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" href="{{ asset('apple-launch-1668x2224.png') }}">
    <!-- iPad Mini, Air (1536px x 2048px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" href="{{ asset('apple-launch-1536x2048.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu" rel="stylesheet">
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <!--<script src="{{ asset('js/geocode.js')}}"></script>-->
    <script src="https://kit.fontawesome.com/f8465dc2e3.js" crossorigin="anonymous"></script>
    <!--script src="{{ asset('js/ptrLight.min.js') }}"></script-->
    <link rel="stylesheet" href="{{ asset('css/ptrLight.min.css') }}">
    <!--<script src="{{ asset('OneSignalSDKWorker.js') }}"></script>
        <script src="{{ asset('OneSignalSDKUpdaterWorker.js') }}"></script>-->
    <script type="module" src="{{ asset("pwabuilder-sw.js") }}"></script>
    <script type="module">

    import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';

    const el = document.createElement('pwa-update');
    document.body.appendChild(el);
    </script>
    {% block javascripts %}{% endblock %}
    {% if app.environment == 'prod' %}
        <!--<script type="text/javascript">
            var _iub = _iub || [];
            _iub.csConfiguration = {"reloadOnConsent":true,"enableRemoteConsent":true,"lang":"it","siteId":1498554,"cookiePolicyUrl":"https://www.vedocompro.it/privacy-policy","consentOnDocument":true,"cookiePolicyId":25597115, "banner":{ "position":"bottom" } };
        </script>
        <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async> </script>

        <script type="text/javascript">
            document.addEventListener('gdprCookiesEnabled', function (e) {
                console.log(e);
                if(e.detail.marketing) {
                    console.log('marketing cookies are enabled');
                }
            });
        </script>
        <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
        <script>
            var OneSignal = window.OneSignal || [];
            OneSignal.push(function() {
                OneSignal.init({
                    appId: "e03b36aa-5bde-474e-9edb-74b6ceee149e",
                    notifyButton: {
                        enable: true,
                    },
                });
            });
        </script>-->
    {% else%}
        <!-- TODO: Recheck Onesignal
        <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
        <script>
            var OneSignal = window.OneSignal || [];
            OneSignal.push(function() {
                OneSignal.init({
                    appId: "006ff46a-7d18-4f50-8f5f-5fe3658f659a",
                    notifyButton: {
                        enable: true,
                    },
                });
            });
        </script>-->
    {% endif %}
    {% block head %}

    {% endblock %}
    <!-- WhatsHelp.io widget -->
    <script type="text/javascript">
        (function () {
            const options = {
                whatsapp: "+393518181127",
                //call: "+393518181127",
                telegram: "vedocompro-bot",
                email: "helpdesk@vedocompro.it",
                facebook: "1069683136499195",
                call_to_action: "Hai bisogno di Aiuto?",
                button_color: "#129BF4",
                position: "right",
                order: "whatsapp,telegram,facebook,email,call",
                company_logo_url: "https://randomuser.me/api/portraits/women/95.jpg",
                greeting_message: "Ciao sono Giulia, come posso aiutarti?", // Text of greeting message
                key: "",
            };
            const proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
            const s = document.createElement('script');
            s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            const x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!-- /WhatsHelp.io widget -->
</head>
<body style="padding-right:0!important">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9KGLTS" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% if date("2020-12-8 00:00:00") < date() and date("2020-12-26 23:59:59") > date() %}
    <canvas id='canv' height="80"></canvas>
    <script>
        const c = document.getElementById('canv'),
            $ = c.getContext("2d");
        let w = c.width = window.innerWidth,
            h = c.height = window.innerHeight;

        Snowy();
        function Snowy() {
            var snow, arr = [];
            var num = 600, tsc = 1, sp = 1;
            var sc = 1.3, t = 0, mv = 20, min = 1;
            for (var i = 0; i < num; ++i) {
                snow = new Flake();
                snow.y = Math.random() * (h + 50);
                snow.x = Math.random() * w;
                snow.t = Math.random() * (Math.PI * 2);
                snow.sz = (100 / (10 + (Math.random() * 100))) * sc;
                snow.sp = (Math.pow(snow.sz * .8, 2) * .15) * sp;
                snow.sp = snow.sp < min ? min : snow.sp;
                arr.push(snow);
            }
            go();
            function go(){
                window.requestAnimationFrame(go);
                $.clearRect(0, 0, w, h);
                $.fillStyle = 'transparent';
                $.fillRect(0, 0, w, h);
                $.fill();
                for (var i = 0; i < arr.length; ++i) {
                    f = arr[i];
                    f.t += .05;
                    f.t = f.t >= Math.PI * 2 ? 0 : f.t;
                    f.y += f.sp;
                    f.x += Math.sin(f.t * tsc) * (f.sz * .3);
                    if (f.y > h + 50) f.y = -10 - Math.random() * mv;
                    if (f.x > w + mv) f.x = - mv;
                    if (f.x < - mv) f.x = w + mv;
                    f.draw();}
            }
            function Flake() {
                this.draw = function() {
                    this.g = $.createRadialGradient(this.x, this.y, 0, this.x, this.y, this.sz);
                    this.g.addColorStop(0, 'hsla(255,255%,255%,1)');
                    this.g.addColorStop(1, 'hsla(255,255%,255%,0)');
                    $.moveTo(this.x, this.y);
                    $.fillStyle = this.g;
                    $.beginPath();
                    $.arc(this.x, this.y, this.sz, 0, Math.PI * 2, true);
                    $.fill();}
            }
        }
        /*________________________________________*/
        window.addEventListener('resize', function(){
            c.width = w = window.innerWidth;
            c.height = h = window.innerHeight;
        }, false);
        $(document).load(function() {
            $('#canv').attr('height','80');
        })
    </script>
    <style>
        #canv {
            position: fixed;
            z-index:0;

        }
    </style>
{% endif %}
{% include 'template/header.html.twig' %}
<main role="main" id="main" class="tabs-viewport" style="overflow:scroll">
</main>
<!--<i id="loading" class="fa fa-spinner fa-spin fa-3x mx-auto my-auto"></i>-->
{% block midbase %}
{% endblock %}
<script src="{{ asset("js/popper.min.js") }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>

<!-- Global Site Tag (gtag.js) - Google Analytics
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-69743962-4"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-69743962-4');

    $(document).ready(function(){
        $('.modal').on('show.bs.modal', function () {
            if ($(document).height() > $(window).height()) {
                // no-scroll
                $('body').addClass("modal-open-noscroll");
                $('.navbar').addClass("navbar-no-padding");
                $('#searchModal').addClass("modal-open-noscroll");
            }
            else {
                $('body').removeClass("modal-open-noscroll");
            }
        })
        $('.modal').on('hide.bs.modal', function () {

        })
    })


</script>

<script data-ad-client="ca-pub-4967985757423249" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
-->
<!--<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js')
            .then(function(registration) {
                console.log('Registration successful, scope is:', registration.scope);
            })
            .catch(function(error) {
                console.log('Service worker registration failed, error:', error);
            });
    }
</script>-->
{#<script>
            Pace.on("start", function(){
                $("div.paceDiv").show();
            });

            Pace.on("done", function(){
                $("div.paceDiv").hide();
            });
        </script>#}
<style>
    .cc-color-override--1943300103.cc-window {
        max-width: 100%;
        bottom: 0!important;
    }
    .modal-open-noscroll {
        padding-right: 0!important;
        overflow: hidden;
    }
    .navbar-no-padding {
        padding-right: 16px!important;
    }
    .modal-open-noscroll .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
        padding-right: 0!important;
    }
    div.paceDiv {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
    }
</style>
<script>
    $(document).ready( function() {
        updateCart();
    })
    function updateCart() {
        $.ajax({
            method: 'GET',
            url: '{{ url('shop_cart_widget') }}',
        }).done(function( msg ) {
            $('#cart').html(msg);
        })
    }
    $(document).ready(function () {
        $(document).on('click', '.cta', function () {
            $(this).toggleClass('active')
        })
    });
</script>
<script>
    // TabBar(tabs, appViewId, selectedTabViewId, transitionSpeed, onSuccess, onError)
    new TabBar([
        new Tab([
            new Screen("{{ url('shop_list') }}"),
        ], "tab-page-one"),
        new Tab([
            new Screen("{{ url('shop_orders') }}")
        ], "tab-page-two"),
        new Tab([
            new Screen("{{ url('shop_cart') }}")
        ], "tab-page-three"),
        new Tab([
            new Screen("{{ url('shop_info') }}")
        ], "tab-page-four"),
        new Tab([
            new Screen("{{ url('app_login') }}")
        ], "tab-page-five")
    ],
        "main", "tab-page-one", "0", onSuccess, onError
    );

    function onSuccess (tabViewId, url) {
        console.log("onSuccess(): tabViewId = " + tabViewId + ", url = " + url);
    }
    function onError (tabViewId, url) {
        console.log("onError(): tabViewId = " + tabViewId + ", url = " + url);
    }
</script>
<script>
    $('#main').ptrLight({
        'refresh': function() {
            // do something;
        },
        pullThreshold: 100,
        spinnerTimeout: 1000
    });

</script>
</body>
</html>
