{% extends './dashboard/mid-base.html.twig' %}

{% block title %}Lista Ordini{% endblock %}

{% block body%}

    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet__body">

            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Cerca..." id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
																<span><i class="la la-search"></i></span>
															</span>
                                </div>
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-form__group kt-form__group--inline">
                                    <div class="kt-form__label">
                                        <label>Stato:</label>
                                    </div>
                                    <div class="kt-form__control">
                                        <select class="form-control bootstrap-select" id="kt_form_status">
                                            <option value="">Tutti</option>
                                            <option value="1">Ricevuto</option>
                                            <option value="2">Evaso</option>
                                            <option value="3">Completato</option>
                                            <option value="4">Annullato</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 order-1 order-xl-2 kt-align-right">

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--end: Search Form -->
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">

            <!--begin: Datatable -->
            <div class="kt-datatable" id="json_data"></div>

            <!--end: Datatable -->
        </div>
    </div>
    <script>
        var KTDatatableJsonRemoteDemo = function () {
            // Private functions

            // basic demo
            var demo = function () {

                var datatable = $('.kt-datatable').KTDatatable({
                    // datasource definition
                    data: {
                        type: 'remote',
                        source: 'https://localhost:8000/api/v3/orders/list/all',
                        read: { method: 'GET' },
                        pageSize: 10,
                    },

                    // layout definition
                    layout: {
                        scroll: false, // enable/disable datatable scroll both horizontal and vertical when needed.
                        footer: false // display/hide footer
                    },

                    // column sorting
                    sortable: true,

                    pagination: true,

                    search: {
                        input: $('#generalSearch')
                    },

                    // columns definition
                    columns: [
                        {
                            field: 'ID',
                            title: '#',
                            sortable: false,
                            width: 20,
                            type: 'number',
                            selector: {class: 'kt-checkbox--solid'},
                            textAlign: 'center',
                        }, {
                            field: 'id',
                            title: 'ID',
                            width: 30,
                        }, {
                            field: 'date',
                            title: 'Data',
                        }, {
                            field: 'user',
                            title: 'Utente',
                        }, {
                            field: 'total',
                            title: 'Totale',
                            template: function(row) {
                                return (row.total).toFixed(2) + ' €'
                            }
                        }, {
                            field: 'status',
                            title: 'Stato',
                            width: 100,
                            // callback function support for column rendering
                            template: function(row) {
                                console.log(row)
                                if (row.status === 0) {
                                    return '<span class="kt-badge kt-badge--info kt-badge--inline kt-badge--pill">Ricevuto</span>';
                                } else if (row.status === 1) {
                                    return '<span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill">Evaso</span>';
                                } else if (row.status === 2) {
                                    return '<span class="kt-badge kt-badge--success kt-badge--inline kt-badge--pill">Completato</span>';
                                } else if (row.status === 3) {
                                    return '<span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill">Annullato</span>';
                                }
                                //return '<span class="kt-badge ' + [row.status].class + ' kt-badge--inline kt-badge--pill">' + [row.status].title + '</span>';
                            },
                        }, {
                            field: 'seller',
                            title: 'Negozio',
                            width: 300,
                        }, {
                            field: 'Actions',
                            title: 'Azioni',
                            sortable: false,
                            width: 110,
                            autoHide: false,
                            overflow: 'visible',
                            template: function(row) {
                                return '<div class="dropdown">\
						<a href="/dashboard/ordini/mostra/' + row.id + '" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Visualizza">\
							<i class="fas fa-eye"></i>\
						</a>\
							<a href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown">\
                                <i class="fas fa-ellipsis-h"></i>\
                            </a>\
						  	<div class="dropdown-menu dropdown-menu-right">\
						    	<a class="dropdown-item" href="{{ url('homepage') }}"><i class="fa fa-edit"></i> Modifica</a>\
						    	<a class="dropdown-item" href="#"><i class="la la-leaf"></i> Imposta Stato</a>\
						    	<a class="dropdown-item" href="#"><i class="la la-print"></i> Genera Link</a>\
						  	</div>\
						</div>\
						<a class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Elimina" onClick="alert("Questa funzione non è ancora disponibile, contattaci per eliminare questo ordine")">\
							<i class="fas fa-trash"></i>\
						</a>\
					';
                            },
                        }],

                });

                $('#kt_form_status').on('change', function() {
                    datatable.search($(this).val().toLowerCase(), 'Status');
                });

                $('#kt_form_type').on('change', function() {
                    datatable.search($(this).val().toLowerCase(), 'Type');
                });

                $('#kt_form_status,#kt_form_type').selectpicker();

            };

            return {
                // public functions
                init: function () {
                    demo();
                }
            };
        }();

        jQuery(document).ready(function () {
            KTDatatableJsonRemoteDemo.init();
        });
    </script>
{% endblock %}