{% extends './dashboard/mid-base.html.twig' %}

{% block title %}Dettagli Ordine{% endblock %}

{% block body%}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-12">
                <h4>Ordine nr. {{ order.id }} del {{ order.date|date("d-m-Y") }} <span class="float-right">Totale: <strong>{{ order.total|number_format(2) }} €</strong></span></h4>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                <div class="card card-body">
                    <h5 class="card-title">
                        Dettagli Cliente
                    </h5>
                    <div class="row mt-4">
                        <div class="col-6">
                            <p>Nome Utente :</p>
                            <p>Indirizzo :</p>
                            <p>Telefono :</p>
                            <p>Email :</p>
                            <p>Acconsento al contatto tramite Whatsapp?</p>
                        </div>
                        <div class="col-6">
                            <p>{{ order.user.realname }}</p>
                            <p>{{ order.user.address }}</p>
                            <p>{{ order.user.phone }}</p>
                            <p>{{ order.user.email }}</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card card-body">
                    <h5 class="card-title">
                        Dettagli Ordine
                    </h5>
                    <div class="row mt-4">
                        <div class="col-6">
                            <p>Data :</p>
                            <p>Stato :</p>
                            <p>Totale :</p>
                            <p>Tipo Spedizione :</p>
                            <p>Tipo Pagamento :</p>
                        </div>
                        <div class="col-6">
                            <p>{{ order.date|date("d-m-Y H:i:s") }}</p>
                            <p>
                                {% if order.status == '0' %}
                                    <span class="kt-badge kt-badge--info kt-badge--inline kt-badge--pill">Ricevuto</span>
                                {% elseif order.status == '1' %}
                                    <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill">Evaso</span>
                                {% elseif order.status == '2' %}
                                    <span class="kt-badge kt-badge--success kt-badge--inline kt-badge--pill">Consegnato</span>
                                {% elseif order.status == '3' %}
                                    <span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill">Annullato</span>
                                {% else %}
                                    <span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill">Sconosciuto</span>
                                {%  endif %}
                            </p>
                            <p>{{ order.total|number_format(2) }} €</p>
                            <p>{{ order.shipment}}</p>
                            <p>{% if order.payment == 1 %}Contanti alla Consegna{% endif %}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="card card-body">
                    <h5>Dettagli ordine</h5>
                    <div class="row mt-3">
                        <div class="col-6">
                            Prodotto
                            <hr>
                            {% for itm in order.items %}
                                <p>{{ itm.name }}</p>
                            {% endfor %}
                        </div>
                        <div class="col-2">
                            Quantità
                            <hr>
                            {% for itm in order.itemsQty %}
                                <p>{{ itm }}</p>
                            {% endfor %}
                        </div>
                        <div class="col-2">
                            Prezzo
                            <hr>
                            {% for itm in order.items %}
                                <p>{{ itm.price|number_format(2) }}</p>
                            {% endfor %}
                        </div>
                        <div class="col-2">
                            Totale
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}