{% extends './dashboard/mid-base.html.twig' %}

{% block title %}Lista Prodotti{% endblock %}

{% block body%}

    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        
    </div>

{% endblock %}