{% for result in results %}
    <a href="{{ url('show_shop', {'id': result.id}) }}" class="card-link bs-override-go">
        <div class="card card-body mt-0 mb-0" style="padding:0!important;border-radius:20px">
            <div class="media" >
                {% if result.shopUserSettings != 'null' %}
                    <div style="background-image: url({{ asset('uploads/images/seller/results/' ~ result.shopUserSettings.resultsPicture ) }});background-size:cover; width:140px; height: 140px; border-top-left-radius: 20px;border-bottom-left-radius: 20px">
                        <!--<img src="{{ asset('uploads/images/seller/results/' ~ result.shopUserSettings.resultsPicture ) }}" class="image-fluid mr-3" style="width:140px;border-top-left-radius: 20px;border-bottom-left-radius: 20px;" alt="{{ result.shopName }}"/>-->
                    </div>
                {% else %}
                    <img src="https://via.placeholder.com/1000x500" class="img-fluid">
                {% endif %}
                <div class="media-body ml-3" style="margin-top:0.7rem">
                    <div class="row mt-1" >
                        <div class="col-8">
                            <h5 class="mt-0 mb-0">{{ result.shopName }}</h5>
                            <div class="ranking">
                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="col-4">
                            <i class="my-0">
                                <i class="fa fa-map-marker-alt"></i> {{ fun.getDistance(lat,lon,result.latitude,result.longitude) }}
                                {# fun.getDistanceBetweenPoints(lat,lon,result.latitude,result.longitude)|number_format(2) #}
                            </i>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-12">
                            {{ result.description }} <br>
                            <small>{{ result.address }}</small>
                        </div>

                    </div>


                </div>
            </div>
            <!--<div class="row">
                <div class="col-xs-3 px-0 img-row">
                    <img src="" class="img-fluid">
                </div>
                <div class="col-xs-9 px-2 py-2">
                    <h4 class="mt-3">

                    </h4>
                    <p>

                    </p>

                </div>
            </div>-->
        </div>
    </a>
    <!--<a href="{{ url('show_shop', {'id': result.id}) }}" class="card-link">
        <div class="card card-body py-3 pt-0 mb-2">
            <div class="row">
                <div class="col-sm-3 px-0 img-row">
                    {% if result.shopUserSettings != null %}
                        <div style="background-image: url({{ asset('uploads/images/seller/results/' ~ result.shopUserSettings.resultsPicture ) }});background-size:cover">
                            <img src="{{ asset('uploads/images/seller/results/' ~ result.shopUserSettings.resultsPicture ) }}" style="visibility: hidden;" class="img-fluid"/>
                        </div>
                    {% else %}
                        <img src="https://via.placeholder.com/1000x500" class="img-fluid">
                    {% endif %}
                </div>
                <div class="col-sm-9 px-2 py-2">
                    <h4 class="mt-3">
                        {{ result.shopName }}
                    </h4>
                    <p>
                        <i class="my-0">
                            <i class="fa fa-map-marker-alt fa-2x"></i> {{ fun.getDistanceBetweenPoints(lat,lon,result.latitude,result.longitude)|number_format(2) }} Km
                        </i>
                    </p>
                    <small class="mt-2">{{ result.description }}</small>
                </div>
            </div>
        </div>
    </a>-->
{% endfor %}
<style>
    .img-row {
        top: -15px;
        margin: auto -5px;
        width: 105%;
    }
    .card-link {
        text-decoration: none;
        color: #333;
    }
</style>