<div class="kt-portlet kt-portlet--height-fluid">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                 Statistiche Ordini
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <a href="#" class="btn btn-label-brand btn-bold btn-sm dropdown-toggle" data-toggle="dropdown">
                Esporta
            </a>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

                <!--begin::Nav-->
                <ul class="kt-nav">
                    <li class="kt-nav__head">
                         Opzioni Esportazione
                        <span data-toggle="kt-tooltip" data-placement="right" title="Con il piano Plus, puoi esportare i dati sulle vendite.">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--brand kt-svg-icon--md1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                    <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1" />
                                    <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1" />
                                </g>
                            </svg>
                        </span>
                    </li>
                    <li class="kt-nav__separator"></li>
                    <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                            <i class="kt-nav__link-icon flaticon2-drop"></i>
                            <span class="kt-nav__link-text">Testo <span class="badge badge-success float-right">Gratis!</span></span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                            <i class="kt-nav__link-icon flaticon2-drop"></i>
                            <span class="kt-nav__link-text">XML</span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                            <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                            <span class="kt-nav__link-text">JSON</span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                            <i class="kt-nav__link-icon flaticon2-telegram-logo"></i>
                            <span class="kt-nav__link-text">CSV</span>
                        </a>
                    </li>
                    <li class="kt-nav__separator"></li>
                    <li class="kt-nav__foot">
                        <a class="btn btn-label-danger btn-bold btn-sm" href="#">Aggiorna piano</a>
                    </li>
                </ul>

                <!--end::Nav-->
            </div>
        </div>
    </div>
    <div class="kt-portlet__body kt-portlet__body--fluid">
        <div class="kt-widget12">
            <div class="kt-widget12__content">
                <div class="kt-widget12__item">
                    <div class="kt-widget12__info">
                        <span class="kt-widget12__desc">Entrate Annue</span>
                        <span class="kt-widget12__value">0,00 €</span>
                    </div>
                    <div class="kt-widget12__info">
                        <span class="kt-widget12__desc">Finance Review Date</span>
                        <span class="kt-widget12__value">July 24,2019</span>
                    </div>
                </div>
                <div class="kt-widget12__item">
                    <div class="kt-widget12__info">
                        <span class="kt-widget12__desc">Avarage Revenue</span>
                        <span class="kt-widget12__value">$60M</span>
                    </div>
                    <div class="kt-widget12__info">
                        <span class="kt-widget12__desc">Revenue Margin</span>
                        <div class="kt-widget12__progress">
                            <div class="progress kt-progress--sm">
                                <div class="progress-bar kt-bg-brand" role="progressbar" style="width: 40%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget12__stat">
																	40%
																</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-widget12__chart" style="height:250px;">
                <canvas id="kt_chart_order_statistics"></canvas>
            </div>
        </div>
    </div>
</div>