<div class="kt-widget24">
    <div class="kt-widget24__details">
        <div class="kt-widget24__info">
            <h4 class="kt-widget24__title">
                Totale Guadagni
            </h4>
            <span class="kt-widget24__desc">
                Tutte le vendite
            </span>
        </div>
        <span class="kt-widget24__stats kt-font-brand">
            0,00 €
        </span>
    </div>
    <div class="progress progress--sm">
        <div class="progress-bar kt-bg-brand" role="progressbar" style="width: 78%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="kt-widget24__action">
        <span class="kt-widget24__change">
            Change
        </span>
        <span class="kt-widget24__number">
            78%
        </span>
    </div>
</div>