<div class="kt-widget24">
    <div class="kt-widget24__details">
        <div class="kt-widget24__info">
            <h4 class="kt-widget24__title">
                Nuovi Ordini
            </h4>
            <span class="kt-widget24__desc">
                Totale dall'inizio
            </span>
        </div>
        <span class="kt-widget24__stats kt-font-danger">
														0
													</span>
    </div>
    <div class="progress progress--sm">
        <div class="progress-bar kt-bg-danger" role="progressbar" style="width: 69%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="kt-widget24__action">
													<span class="kt-widget24__change">
														Change
													</span>
        <span class="kt-widget24__number">
														69%
													</span>
    </div>
</div>